{% extends "_base.html" %}
{% block title %} Home {% endblock %}

{% block content %}

    {% for article in articles %}
        <article>
            <header>
                <h2><a href="/article/{{ article.id }}" title="Permanent link to article">{{ article.title }}</a></h2>
                <h4><a href="{{ article.url }}" title="{{ article.title }}">{{ article.domain }}</a> <span class="glyphicon glyphicon-share-alt"></span></h4>
                <p><small>{{ article.sent|relative_date }}</small></p>
            </header>
            <div>
                {{ article.summary }}&hellip;
            </div>
        </article>
        <hr />
    {% endfor %}

{% endblock %}k

{% block javascript %}
$(function() {

});
{% endblock %}
