h1 {
    letter-spacing: -1px;
    font-weight: bold;
}
h2 a, h2 span {
    color: #999;
    margin: 0 10px 0 0;
    font-size: x-large;
}
h2 a:hover {
    color: #333;
}
h3 {
    margin-top: 10px;
    padding-bottom: 1px;
}
.big-right {
    text-align: left;
}
.right {
    text-align: left;
}
.wrap-title {
    white-space: wrap;
    overflow: auto;
}
h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover {
    text-decoration: none;
}
time {
    color: #CCC;
}
h2 a span,
#articlebox,
#searchbox,
.options a span,
.hide {
    display: none;
}
#articlebox,
#searchbox {
    margin-bottom: 10px;
}
.options {
    color: #CCC;
    font-size: x-large;
    padding-top: 8px;
}
.options a {
    color: #CCC;
    margin-right: 10px;
    margin-left: 0;
}
.options a:hover {
    color: #333;
    text-decoration: none;
    cursor: pointer;
}
.off {
    color: #999;
}
.on {
    color: #FF3300!important;
}
.on:hover {
    color: #FF0000!important;
}
#infscr-loading {
    margin: 20px auto;
    text-align: center;
}
.folded {
    display: none;
}
footer {
    border-top: 1px dotted #CCC;
    padding: 20px 0;
}
.results-count {
    letter-spacing: 0px;
    background-color: #FF3300;
    color: #FFF;
    padding: 0 5px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -o-border-radius: 10px;
    -ms-border-radius: 10px;
    border-radius: 10px;
}
.highlight {
    background-color: #FFFF88;
    border: 1px solid #FFCF40;
    padding: 0 2px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -o-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
}
.dotted-top {
    border-top: 1px dotted #CCC;   
}
.external-link {
    color: #CCC;
}
.external-link:hover {
    color: #999;
    text-decoration: none;
}
@media only screen and (min-width : 768px) {
    h2 a, h2 span {
        margin: 0 0 0 8px;
    }
    .wrap-title {
        white-space: nowrap;
        overflow: hidden;
    }
    .big-right {
        text-align: right;
    }
    .right {
        text-align: right;
    }
    .options a {
        color: #CCC;
        margin-left: 10px;
        margin-right: 0;
    }
}
.white, .white a {
    color: #FFF!important;
}