h1 {
    letter-spacing: -1px;
}
h1 a:hover {
    text-decoration: none;
}
h3 a:hover {
    text-decoration: none;
}
h4 a {
    color: #666;
}
h4 a:hover {
    color: #333;
    text-decoration: none;
}
#articlebox {
    display: none;
}
.right {
    text-align: right;
}
hr {
    padding: 0;
    margin: 0;
}