<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="description" content="I'm a goose and these are my papers">
        <meta name="viewport" content="width=device-width">
        <title>Goosepaper{% if self.title() %} &ndash; {% block title -%}{% endblock %}{% endif %}</title>
        <link rel="icon" type="image/png" href="/favicon.png">
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
        <link href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet"/>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/goosepaper.css') }}">
    </head>
    <body class="container">
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade it for a better web experience</a>.</p>
        <![endif]-->

        <div class="row">
            <div class="col-sm-8">
                <header>
                    <h1>goosepaper
                        {%- if self.subtitle() %}{% block subtitle -%}{% endblock %}{% endif %}
                    </h1>
                </header>
            </div>
            <div class="col-sm-4">
                <h2>
                    {% if request.endpoint == 'favorites' -%} 
                    <span class="glyphicon glyphicon-heart red"></span>
                    {% else %}
                    <a href="/favorites" title="View favorites" class="glyphicon glyphicon-heart"><span>View favorited articles</span></a>
                    {%- endif %}
                    
                    <!-- <a href="/calendar" title="Calendar" class="glyphicon glyphicon-calendar"></a> -->
                    <a href="javascript://" title="Condense list" class="glyphicon glyphicon-list{% if request.cookies.get('collapse') %} folded-icon{% endif %}"><span>Condense list</span></a>
                    <a href="javascript://" title="Search" class="glyphicon glyphicon-search{%- if request.endpoint == 'search' %} red{%- endif %}"></a>

                    {% if request.endpoint == 'index' -%} 
                    <a href="javascript://" title="Add article" class="glyphicon glyphicon-plus"><span>Add article</span></a>
                    {% else %}
                    <a href="/" title="Home" class="glyphicon glyphicon-home"><span>Home</span></a>
                    {%- endif %}
                </h2>
            </div>
        </div>

        <div id="boxes">
            {%- if request.endpoint == 'index' %}
            <input type="text" class="form-control" id="articlebox" placeholder="add a URL then hit return" />
            {%- endif -%}
            <input type="text" class="form-control" id="searchbox" placeholder="type something and hit return" {%- if request.endpoint == 'search' %}style="display:block;"{%- endif %} />
        </div>

        {# Display any flashed messages #}
        {%- with messages = get_flashed_messages(with_categories=true) -%}
            {%- if messages -%}
                {%- for category, message in messages -%}
                    <div class="alert">{{ message }} </div>
                {%- endfor -%}
                <hr />
            {%- endif -%}
        {%- endwith -%}

        {%- if request.endpoint == 'search' %} 
        <h3>
            {%- if paginator.total == 0 %}
            Nothing contains 
            {%- elif paginator.total == 1 %}
            One article contains 
            {%- else %}
            {{ paginator.total }} articles contain 
            {% endif %}
            &#8220;{{ term }}&#8221;
        </h3>
        {% endif %}

        <div id="content">
        {%- block content -%}{%- endblock %}
        </div>

        <footer>
            <p>Source <a href="https://github.com/afreeorange/goosepaper" title="Goosepaper on Github">on Github</a></p>
        </footer>

        <script type="text/javascript" src="//code.jquery.com/jquery-2.1.0.min.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/js/bootstrap-editable.min.js"></script>
        <script src="{{ url_for('static', filename='js/jquery.infinitescroll.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/jquery.cookie.js') }}"></script>
        <script src="{{ url_for('static', filename='js/jquery.highlight.js') }}"></script>
        <script src="{{ url_for('static', filename='js/goosepaper.js') }}"></script>
        {% if self.javascript() -%}
        <script type="text/javascript">
        {% block javascript %}{% endblock %}
        </script>
        {% endif %}

    </body>
</html>
