<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="description" content="goosepaper, a Flask app built around the goose-extractor module">
        <meta name="viewport" content="width=device-width">
        <title>Things I Read{% if self.title() %} &ndash; {% block title -%}{% endblock %}{% endif %}</title>
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/goosepaper.css') }}">
    </head>
    <body class="container">
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade it for a better web experience</a>.</p>
        <![endif]-->

        <h1>goosepaper</h1>

        {# Display any flashed messages #}
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert">{{ message }} </div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        <div id="content">{% block content %}{% endblock %}</div>

        <hr />

        <h6>&copy; {{ config.CURRENT_YEAR }}
            {% if self.footer() %}
                {% block footer %}{% endblock %}
            {% endif %}
        </h6>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="{{ url_for('static', filename='js/jquery.min.js') }}"><\/script>')</script>
        <script src="{{ url_for('static', filename='js/goosepaper.js') }}"></script>
        {% if self.javascript() -%}
        <script type="text/javascript">
        {% block javascript %}{% endblock %}
        </script>
        {% endif %}
    </body>
</html>
