{% extends "base.html" %}
{% block title %} Home {% endblock %}

{% block content %}
    {% for article in paginator.items %}

    <div class="row">
        <div class="col-xs-12">

            <article id="{{ article.id }}">
                <header>
                    <h3>
                        <a href="/articles/{{ article.id }}{%- if request.endpoint == 'search' %}?highlight={{ term }}{%- endif %}" title="Permanent link to article">{{ article.title }}</a>
                    </h3>
                </header>
                <div class="fold{% if request.cookies.get('collapse') %} folded{% endif %}">
                    <h4>
                        <a href="{{ article.url }}" title="{{ article.title }}">{{ article.domain }}</a> <span class="glyphicon glyphicon-share-alt"></span>
                    </h4>
                    <p>{{ article.summary }}&hellip;</p>
                    <div class="row">
                        <div class="col-sm-4">
                            <p class="options">
                                <a href="javascript://" class="delete" article-id="{{ article.id }}"><span class="glyphicon glyphicon-remove"></span> remove</a>
                                {% if article.favorite %}
                                <span class="favorite red glyphicon glyphicon-heart"></span>
                                {% else %}
                                <span class="favorite gray glyphicon glyphicon-heart-empty"></span>
                                {% endif %}
                            </p>
                        </div>
                        <div class="col-sm-3 pull-right">
                            <p class="small right">
                                <time><span class="glyphicon glyphicon-time"></span> {{ article.sent|humanized_datestamp }}</time>
                            </p>
                        </div>
                    </div> {# End row #}
                </div>
                <hr />
            </article>

        </div>
    </div>

    {% endfor %}

    <nav>
        {%- if request.endpoint == 'search' %}
        <a href="/search/{{ term }}/page/{{ paginator.page + 1 }}"></a>
        {%- elif request.endpoint == 'favorites' %}
        <a href="/favorites/page/{{ paginator.page + 1 }}"></a>
        {%- else %}
        <a href="/page/{{ paginator.page + 1 }}"></a>
        {%- endif %}
    </nav>
{% endblock %}
