{% extends "page.html" %}
{% block title %} Home {% endblock %}

{% block content %}
    {% for article in paginator.items %}

    <article id="{{ article.id }}">

        <div class="row">
            <div class="col-xs-10">
                <header>
                    <h3{% if request.cookies.get('fold') %} class="wrap-title"{% endif %}>
                        <a href="/articles/{{ article.id }}{%- if request.endpoint == 'search' %}?highlight={{ term }}{%- endif %}" title="Permanent link to article">{{ article.title }}</a>
                    </h3>
                </header>
            </div>
            <div class="col-xs-1 options right">
                <a href="javascript://" class="delete glyphicon glyphicon-remove" article-id="{{ article.id }}"><span>Remove article</span></a>
            </div>
            <div class="col-xs-1 options right">
                <a article-id="{{ article.id }}" class="favorite glyphicon {% if article.favorite -%}
                red glyphicon-heart
                {%- else -%}
                gray glyphicon-heart-empty
                {%- endif %}"><span>Favorite article</span></a>
            </div>
        </div> {# End row #}

        <div class="row fold{% if request.cookies.get('fold') %} folded{% endif %}">
            <div class="col-xs-12">
                <p>{{ article.summary }}&hellip;</p>
                <div class="row small">
                    <div class="col-xs-6">
                        <p><time><span class="glyphicon glyphicon-time"></span> {{ article.sent|humanized_datestamp }}</time></p>
                    </div>
                    <div class="col-xs-6 right">
                        <p><a href="{{ article.url }}" title="{{ article.title }}" class="external-link">{{ article.domain }} <span class="glyphicon glyphicon-share-alt"></span></a></p>
                    </div>                    
                </div>
            </div> {# End col-xs-12 #}
        </div> {# End row #}

    </article>
    {% endfor %}

    <nav>
        {%- if request.endpoint == 'search' %}
        <a href="/search/{{ term }}/page/{{ paginator.page + 1 }}"></a>
        {%- elif request.endpoint == 'favorites' %}
        <a href="/favorites/page/{{ paginator.page + 1 }}"></a>
        {%- else %}
        <a href="/page/{{ paginator.page + 1 }}"></a>
        {%- endif %}
    </nav>
{% endblock %}
